<div>
    <h1>Loging using google</h1>
    <form method="post">

        <div class="clo-10">
            <label>Username</label>
            <input type="text" class="form-control" />
        </div>
        <div class="clo-10">
            <label>Password</label>
            <input type="text" class="form-control" />
        </div>
        <div class="row text-end">
            <div class="col-2 text-end">
                <button type="submit" class="btn btn-primary form-control">Login</button>
            </div>
            <div class="col-5 text-end">
                <a asp-controller="Login" asp-action="Login" class="btn btn-primary form-contol">Signin with google</a>
            </div>
        </div>
    </form>
</div> 